<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">



    <!--Login -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.oc.forms.Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Register page (same jsp as login page but different servlet) -->

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>org.oc.forms.Register</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Welcome -->
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>org.oc.servlets.Welcome</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>



    <!--Accueil -->
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>org.oc.servlets.Accueil</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>


    <!-- Sites d'escalade description -->
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>org.oc.servlets.Site</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/sites</url-pattern>
    </servlet-mapping>

    <!-- Secteur description -->
    <servlet>
        <servlet-name>Secteur</servlet-name>
        <servlet-class>org.oc.servlets.Secteur</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Secteur</servlet-name>
        <url-pattern>/secteurs</url-pattern>
    </servlet-mapping>

    <!-- Voie description -->
    <servlet>
        <servlet-name>Voie</servlet-name>
        <servlet-class>org.oc.servlets.Voie</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Voie</servlet-name>
        <url-pattern>/voies</url-pattern>
    </servlet-mapping>

    <!-- Longueur description -->

    <servlet>
        <servlet-name>Longueur</servlet-name>
        <servlet-class>org.oc.servlets.Longueur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Longueur</servlet-name>
        <url-pattern>/longueurs</url-pattern>
    </servlet-mapping>

    <!-- Point description -->

    <servlet>
        <servlet-name>Point</servlet-name>
        <servlet-class>org.oc.servlets.Point</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Point</servlet-name>
        <url-pattern>/points</url-pattern>
    </servlet-mapping>


    <!-- Topos sharing page-->
    <servlet>
        <servlet-name>Topos</servlet-name>
        <servlet-class>org.oc.servlets.Topos</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Topos</servlet-name>
        <url-pattern>/topos</url-pattern>
    </servlet-mapping>

    <!-- Topos sharing page-->
    <servlet>
        <servlet-name>TopoShare</servlet-name>
        <servlet-class>org.oc.servlets.TopoShare</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>TopoShare</servlet-name>
        <url-pattern>/topos-share</url-pattern>
    </servlet-mapping>


    <!-- Contact page-->
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>org.oc.servlets.Contact</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>

    <!-- Commentaires -->

    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>org.oc.forms.Comment</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>

    <!-- Logout -->
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.oc.forms.Logout</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- Bye-->

    <servlet>
        <servlet-name>Bye</servlet-name>
        <servlet-class>org.oc.servlets.Bye</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Bye</servlet-name>
        <url-pattern>/goodbye</url-pattern>
    </servlet-mapping>



    <!-- ========================================================================== -->
    <!-- Other  -->
    <!-- ========================================================================== -->


    <resource-ref>
        <res-ref-name>jdbc/DB_projet3</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>


    <!-- To insert the JSTL in all the JSP pages -->

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>include/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>



    <!--  FOr the UTF8 problem-->
     <filter>
         <filter-name>Set Character Encoding</filter-name>
         <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
         <init-param>
             <param-name>encoding</param-name>
             <param-value>UTF-8</param-value>
         </init-param>
         <init-param>
             <param-name>ignore</param-name>
             <param-value>false</param-value>
         </init-param>
     </filter>
     <filter-mapping>
         <filter-name>Set Character Encoding</filter-name>
         <url-pattern>/*</url-pattern>
     </filter-mapping>



</web-app>

